body {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-family: dancing script;
  background: #02010a;
}

header {
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 70px;
  animation: apertura 2s;
}

@-webkit-keyframes apertura {
  0% {
    margin-top: 150%;
  }

  60% {
    margin-top: -5%;
  }

  100% {
    margin-top: 0%;
  }
}

header h1 {
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  display: inline-block;
  margin: 15px 0px 0px 30px;
}

nav {
  font-size: 1.2em;
  height: 100%;
  float: right;
}

nav ul {
  margin: auto;
  height: 100%;
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: auto 5px auto 5px;
  padding: 15px 0px;
  font-weight: bold;
}

nav ul li a {
  color: white;
}

.menu {
  text-decoration: none !important;
}

.img_central {
  background: #82c3a6;
  padding: 15px;
}

.img_central img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 88%;
}

.img_secundaria {
  display: flex;
  background: #d5c75f;
  border-radius: 1px;
  margin: 0px;
}

.paisaje2 {
  width: 50%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  transition: transform 1s;
}

.paisaje2 img {
  width: 100%;

}
.paisaje2:hover {
  transform: rotate(10deg);
}

.paisaje2 a, .retrato a {
  color: black;
}

.retrato {
  width: 50%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  transition: transform 1s;
}

.retrato img {
  width: 100%;

}
.retrato:hover {
  transform: translate(20px, -5px);
}

footer {
  border-radius: 0px 0px 10px 10px;
  background: #C6d5c5;
  display: flex;
}

footer ul {
  list-style-type: none;
  margin: 20px auto 20px auto;
}

footer>ul>li:first-child {
  font-size: 1.8em;
  font-weight: bold;
}

footer ul li a {
  text-decoration: none;
  color: black;
}

img[src$='jpg'] {
  box-shadow: 2px 2px 2px #02010a;
}

< !--Link Paisajes-->.seccion-paisajes {
  margin: auto;
}

.orden-paisajes {
  display: flex;
  flex-direction: wrap;
  background: #d5c75f;
}

.orden-paisajes img {
  width: 100%;
}

.pa01 {
  order: 1;
  -webkit-filter: blur (10px);
  filter: blur(10px);
}

.pa02 {
  order: 2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.pa03 {
  order: 3;
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

.pa04 {
  order: 4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.pa05 {
  order: 5;
}

.pa06 {
  order: 6;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

< !--Link Retratos-->.seccion-retratos {
  margin: auto;
}

.orden-retratos {
  display: flex;
  flex-direction: wrap;
  background: #d5c75f;
}

.orden-retratos img {
  width: 100%;
}

.re01 {
  order: 1;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.re02 {
  order: 2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.re03 {
  order: 3;
  -webkit-filter: sepia(90%);
}

.re04 {
  order: 4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.re05 {
  order: 5;
}

.re06 {
  order: 6;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media (max-width:900px) {
  body {
    width: 100%;
  }
  header {
    width: auto;
    height: auto;
  }
  header h1 {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  nav {
    display: flex;
    float: inherit;
  }

  .img_central img {
    width: 100%;
  }

.img_secundaria {
  display: flex;
  flex-flow: row wrap;
}

  .paisaje2 {
    width: 100%;
  }

  .retrato {
    width: 100%;
  }
  .orden-paisajes {
    display: flex;
    flex-flow: row wrap;
  }

  .pa01 {
    order: 1;
    width: 100%;
  }

  .pa02 {
    order: 2;
    width: 100%;
  }

  .pa03 {
    order: 3;
    width: 100%;
  }

  .pa04 {
    order: 4;
    width: 100%;
  }

  .pa05 {
    order: 5;
    width: 100%;
  }

  .pa06 {
    order: 6;
    width: 100%;
  }

  .orden-retratos {
    display: flex;
    flex-flow: row wrap;
  }

  .re01 {
    order: 1;
    width: 100%;
  }

  .re02 {
    order: 2;
    width: 100%;
  }

  .re03 {
    order: 3;
    width: 100%;
  }

  .re04 {
    order: 4;
    width: 100%;
  }

  .re05 {
    order: 5;
    width: 100%;
  }

  .re06 {
    order: 6;
    width: 100%;
  }

  footer {
    font-size: 1.4em;
    display: flex;
    flex-flow: row wrap;
  }

  footer ul li {
    width: 100%;
    text-align: left;
    vertical-align: middle;
  }

  footer ul {
  width: 100%;
  }
